.fade-enter {
    opacity: 0;
    z-index: 1;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 250ms ease-in;
}

.navLinkItem{
    text-align: center; 
    flex: 1 1 0%; 
    list-style-type: none; 
    padding: 10px;
}

.navLinkItem .link{
    color: inherit;
}

.fill {
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
}

.hsl, .rgb{
    color: white;
    padding-top: 20px;
    font-size: 30px;
}

.nav{
    padding: 0;
    margin: 0;
    position: relative;
    top: 0;
    height: 40px;
    width: 100%;
    display: flex
}

.content{
    top: 40px;
    text-align: center;
}